<%- include('partials/header', { title: 'Главная' }) %>
<h1>Добро пожаловать в Vikipedia Codex</h1>
<div class="categories">
    <h2>Категории</h2>
    <ul>
        <li>Игры
            <ul>
                <li><a href="/articles?q=Roblox">Roblox</a></li>
                <li><a href="/articles?q=Minecraft">Minecraft</a></li>
            </ul>
        </li>
    </ul>
</div>
<%- include('partials/footer') %>
