<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= article.title %></title>
</head>
<body>
    <h1><%= article.title %></h1>
    <div><pre><%= article.content %></pre></div>
    <a href="/articles">Назад к списку</a>
</body>
</html>
