<%- include('partials/header', { title: article.title }) %>
<h1><%= article.title %></h1>
<div><pre><%= article.content %></pre></div>
<a href="/articles">Назад к списку</a>
<%- include('partials/footer') %>
